.masterclass-modal div{
  padding: 10px;
}

.masterclass-modal-content {
  padding: 0;
  width: 280px;
}

.masterclass-modal-header {
  font-size: 60px;
  font-weight: normal;
  font-family: var(--ui0);
  margin-bottom: 0;
  line-height: 1;
}

.masterclass-modal-text {
  line-height: var(--lineHeightDefault);
  font-size: var(--fontSizeDefault);
  color: white;
}

.masterclass-invite-code-input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.masterclass-invite-code-input-group form {
    width: 280px;
}

.masterclass-invite-code-input{
  outline: 1px solid var(--grey5) !important;
  outline-offset: -1px;
  height: 70px;
  width: 40px;
  background: black;
  border: none;
  text-align: center;
  /* margin: 0 10px; */
  color: white;
  font-size: var(--fontSizeH2);
  font-family: var(--uiData) !important;
}

.masterclass-invite-code-input::placeholder{
  color: var(--grey3);
}

.masterclass-invite-code-input:focus {
  outline: 3px solid var(--grey5) !important;
}

.iDontHaveAnInviteCode input{
  background: black !important;
  border: none !important;
  outline: 1px solid var(--grey5) !important;
  outline-offset: -1px;
  color: white !important;
}

.iDontHaveAnInviteCode input img{
  display: none !important;
}

.iDontHaveAnInviteCode label{
  color: var(--grey5) !important;
}

.noCodeInput{
  margin-top: 10px;
}

.masterclass-modal-buttons .optionGroup {
    display: flex;
    flex-direction: row;
}

.masterclass-modal-buttons .option {
  background: var(--grey2);
  border: none;
  outline: solid 1px var(--gold0);
  outline-offset: -1px;
  color: var(--white);
  display: flex;
  flex-grow: 1;
  box-shadow: none;
}

.masterclass-modal-buttons .option-focused {
  background: var(--grey1);
  border: none;
  outline: solid 3px var(--gold0);
  outline-offset: 0;
  color: var(--white);
  display: flex;
  flex-grow: 1;
  box-shadow: none;
}

/* .masterclass-modal-buttons button:focus,
.masterclass-modal-buttons button:active {
  outline: solid 3px var(--gold0) !important;
  outline-offset: 0;
  z-index: 1;
  background: var(--goldD) !important;
} */


.app-body-no-scroll {
  height: 100vh;
  overflow: hidden;
}

.ui-modal-masterclass .ui-modal-content {
    box-shadow: 0 3px 6px 0 var(--blackTrans);
}

.ui-modal-masterclass .ui-modal-controls .link {
    color: var(--grey5);
}

.ui-modal-masterclass .ui-modal-controls .link:active {
    color: var(--white);
}

.ui-modal-masterclass .ui-modal-controls .link:hover {
    color: var(--grey7);
}

/* scrollbars */
.ui-modal-masterclass ::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
    background-color: var(--goldD) !important;
}

.ui-modal-masterclass ::-webkit-scrollbar-track {
    border-left: 1px solid var(--goldC) !important;
}

.ui-modal-masterclass ::-webkit-scrollbar-thumb {
    background-color: var(--goldB) !important;
    outline: 1px solid var(--gold0) !important;
}
