.date-range-picker {
    width: 100%;
    background: transparent;
    height: unset;
    position: relative;
    font-size: var(--fontSizeDefault);
    padding-bottom: 50px;
    border-bottom: 1px solid var(--cyanTrans);
}

.date-range-picker .ui-optionGroup + .ui-optionGroup {
    margin-top: 10px;
}

.date-range-picker .days label {
    margin: 0 auto;
}

.date-range-input-container {
    display: flex;
    margin-top: 10px;
}
.date-range-input-container input {
    /* width: 140px; */
    text-align: right;
    border: none;
    color: var(--navy3);
}

@media only screen and (min-width: 992px) {
    .date-range-input-container input {
        padding: 4px 10px 6px 10px;
    }
}

.date-range-input-container input.focus {
    outline: var(--outlineActive);
    color: var(--navy0);
    background-color: var(--cyan4);
}

.date-range-input-container .input-spacer {
    width: 10px;
    height: 1px;
    background: var(--cyan0);
    align-self: center;
}

.date-range-input-group {
    width: calc(50% - 5px);
}

.date-range-input-group input {
    cursor: pointer;
    font-size: var(--fontSizeDefault);
}

.date-range-input-group label {
    pointer-events: none;
    position: absolute;
    cursor: pointer;
    color: var(--cyan0);
}

.date-range-navigation {
    top: 25px;
    position: relative;
}

.date-range-navigation .left,
.date-range-navigation .right {
    color: var(--navy0);
    fill: var(--navy0);
    cursor: pointer;
    z-index: 1;
}

.date-range-picker .month {
    width: 100%;
    text-align: center;
    position: absolute;
    box-sizing: border-box;
    color: var(--cyan0);
}

.date-range-picker .days {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    top: 40px;
    color: var(--cyan0);
}

.date-range-picker .calendar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    top: 40px;
    grid-gap: 8px 0;
}

/* calendar day default */
.date-range-picker .calendar-grid .calendar-cell {
    color: var(--navy0);
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-range-picker .calendar-grid .selected {
    /* background: var(--cyan4); */
    /* box-shadow: 0 0 0 3px var(--cyan0); */
    /* font-weight: bold; */
    position: relative;
    /* border-radius: 50%; */
    height: 26px;
    width: 26px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.date-range-picker .calendar-grid .selected-range {
    background: var(--cyan3);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.calendar-grid .selected-range-start {
    background: var(--cyan3);
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: -1;
    left: 50%;
}

.date-range-picker .calendar-grid .selected-range-end {
    background: var(--cyan3);
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: -1;
    right: 50%;
}

.day-background {
    height: 26px;
    width: 26px;
    background: transparent;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
}

.day-background:hover {
    background: var(--cyan4);
}

.date-range-picker .optionGroup {
    display: flex;
    margin-bottom: 10px;
}

.date-range-picker .optionGroup .option {
    min-width: unset;
    width: 50%;
}
