.home-hero {
    height: calc(100vh - 50px);
    min-height: 650px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: hidden;
    color: var(--cyan0);
    background-color: var(--cyan3);
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.home-hero-background {
    height: 100%;
    position: absolute;
    width: 100%;
    float: left;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-height: 20px;
    min-width: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-hero-main {
    background: white;
    line-height: 10px;
    color: var(--cyan0);
    z-index: 0;
    margin-top: 15px;
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid var(--cyan0);
    max-width: 420px;
    min-width: 330px;
    -webkit-box-shadow: 0 3px 12px var(--cyan2);
            box-shadow: 0 3px 12px var(--cyan2);
}

.home-hero-headline {
    font-family: var(--fontFamilyLabel);
    margin-bottom: -10px;
    font-size: 60px;
    line-height: 70px;
    padding: 0;
    letter-spacing: 1.4px;
    font-weight: normal;
}

.home-hero-subheadline {
    font-size: var(--fontSizeH3);
    line-height: 30px;
}

@media (max-width: 768px) {
    #home-hero-button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .home-hero-main {
        min-width: 280px;
    }
    .home-hero-headline {
        font-size: 48px;
        line-height: 60px;
    }
}