.subnav {
    min-height: var(--subNavHeight);
    background: var(--cyan4);
    color: var(--navy0);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: scroll;
    z-index: 1;
    width: 100%;
}

.subnav::-webkit-scrollbar {
    display: none;
}

.subnav-links {
    position: relative;
}

.subnav-links > div {
    line-height: var(--subNavHeight);
    text-transform: capitalize !important;
    padding: 0 15px;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}

.subnav-links > div.hidden {
    line-height: var(--subNavHeight);
    text-transform: capitalize !important;
    margin: 0 15px;
    white-space: nowrap;
}

.subnav-links > div:hover {
    color: var(--navy1);
}

.subnav-links > div:focus {
    color: var(--navy2);
}

.subnav-links > div:active {
    color: var(--navy3);
}

.subnav-links div.subnavTabIndicator {
    height: 3px;
    width: 50px;
    background: var(--navy0);
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    will-change: transform;
}

.subnav-links > div.mobileSubNavExpanded {
    line-height: var(--subNavHeight);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.subNavShow {
    position: fixed;
    top: 50px; /* Safari */
    transition: top 0.2s ease-out;
    z-index: 2;
    box-shadow: 0 3px 6px var(--blackTrans);
}

.subNavShrink {
    position: fixed;
    top: -100px; /* Safari */
    transition: top 0.6s ease-out;
}

.mobileSubNavCollapsed {
    opacity: 0;
    margin: -20px 0;
    -webkit-transition: opacity 0.3s, margin 0.5s;
    transition: opacity 0.3s, margin 0.5s;
    width: 100%;
    text-align: center;
}

.mobileSubNavCollapsedSelected {
    line-height: var(--subNavHeight);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 1;
    margin: -20px 0;
    -webkit-transition: opacity 0.3s, margin 0.5s;
    transition: opacity 0.3s, margin 0.5s;
    width: 100%;
    text-align: center;
}

.mobileSubNavExpanded {
    opacity: 1;
    margin: 0px 0;
    -webkit-transition: opacity 0.3s, margin 0.5s;
    transition: opacity 0.3s, margin 0.5s;
    line-height: 40px;
    width: 100%;
    text-align: center;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.mobileSubNavExpanded:hover {
    background: var(--cyan3);
    -webkit-transition: none;
    transition: none;
}

.mobileSubNavExpanded:focus,
.mobileSubNavExpanded:active {
    background: var(--cyan2);
    color: var(--navy1);
}

.mobileCollapsedCarot {
    position: absolute;
    padding: 0;
}

.subnav-mobile-button {
    position: absolute;
    right: -30px;
    bottom: 0;
    background: var(--cyan4);
    height: 40px;
    width: 40px;
}

.subnav-mobile-button:hover {
    background: var(--cyan3);
}

.mobileSubNavExpanded-subnav-mobile-button {
    position: absolute;
    top: 10px;
    left: 100%;
}

@media only screen and (min-width: 768px) {
    .subnav-links {
        padding: 0;
    }
}
