.home-testimonial {
    text-align: center;
    margin-top: 50px;
}


.home-testimonial svg {
    height: 50px;
    padding: 20px;
}

.home-testimonial-divider {
    height: 90px;
    width: 0;
    border: 1px solid var(--navy4);
}

#logo-entrepreneur {
    margin-top: 5px;
}



.home-testimonial-row {
    max-width: 768px;
    margin: 50px auto;
}

.home-testimonial-row-user {
    width: 150px;
    display: inline-block;
}

.home-testimonial-row-user:before {
    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: 55px;
    margin-left: 175px;
    border: 1px solid var(--cyan0);
    background-color: white;
    content: "";
    z-index: -1;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.home-testimonial-row-user:after {
    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: -130px;
    margin-left: 26px;
    border: 1px solid var(--white);
    background-color: white;
    content: "";
    z-index: 1;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.home-testimonial-row-user p {
    margin: 0;
    font-weight: bold;
}

.home-testimonial-row-user svg {
    width: 150px; 
    padding: 0;
}

.home-testimonial-row-quote {
    display: inline-block;
    position: relative;
    width: calc(100% - 270px);
    height: auto;
    left: 50px;
    background-color: var(--white);
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid var(--cyan0);

    font-style: italic;
    font-size: var(--fontSizeH2);
    line-height: var(--lineHeightH2);
    text-align: left;
}

.home-testimonial-row-quote span {
    position: relative;
    z-index: 5;
    font-size: var(--fontSizeH2);
}


@media (max-width: 768px) {
    .home-testimonial-divider {
        width: 200px;
        height: 0;
        margin: auto;
    }

    .home-testimonial-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .home-testimonial-row-user {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin: 50px auto 0;
    }

    .home-testimonial-row-quote {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        left: 0;
        margin: auto;
        width: 80%;
    }

    .home-testimonial-row-user:before {
        position: absolute;
        height: 50px;
        width: 50px;
        margin-top: -76px;
        margin-left: 45px;
        border: 1px solid var(--cyan0);
        background-color: white;
        content: "";
        z-index: -1;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    
    .home-testimonial-row-user:after {
        position: absolute;
        height: 50px;
        width: 50px;
        margin-top: -262px;
        margin-left: -105px;
        border: 1px solid var(--white);
        background-color: white;
        content: "";
        z-index: 1;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }

}

@media (max-width: 480px) {
    .home-testimonial-row-quote {
        font-size: 24px;
    }
}