.track-phone-calls-animation {
  height: 435px;
  width: 230px;
  position: absolute !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
          margin-top: 20px;
}

.track-phone-calls-animation .charts {
  position: absolute;
  width: 100%;
  height: 100%;
}

.track-phone-calls-animation .charts div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.clicktool-mark {
  position: absolute;
  animation: tracking-logo 20s ease-out infinite;
  height: 80px;
  width: 80px;
  left: calc(50% - 40px);
  top: calc(50% - 50px);
}

.clicktool-mark svg {
  height: 100%;
  width: 100%;
}

@-webkit-keyframes tracking-logo {
  0% {-webkit-transform: scale(0);transform: scale(0)}
  26% {-webkit-transform: scale(.5) rotate(0deg);transform: scale(.5) rotate(0deg); top: 300px;}
  28% {-webkit-transform: scale(.75) rotate(720deg);transform: scale(.75) rotate(720deg); top: 120px;}
  29% {-webkit-transform: scale(1) rotate(360deg);transform: scale(1) rotate(360deg); top: 170px; }
  90% {-webkit-transform: scale(1) rotate(360deg);transform: scale(1) rotate(360deg); top: 170px; }
  91% {-webkit-transform: scale(1) rotate(720deg);transform: scale(1) rotate(720deg); top: 120px;}
  93% {-webkit-transform: scale(.05) rotate(0deg);transform: scale(.05) rotate(0deg); top: 300px; }
  100% {-webkit-transform: scale(0) ;transform: scale(0) ; }
}

@keyframes tracking-logo {
  0% {-webkit-transform: scale(0);transform: scale(0)}
  26% {-webkit-transform: scale(.5) rotate(0deg);transform: scale(.5) rotate(0deg); top: 300px;}
  28% {-webkit-transform: scale(.75) rotate(720deg);transform: scale(.75) rotate(720deg); top: 120px;}
  29% {-webkit-transform: scale(1) rotate(360deg);transform: scale(1) rotate(360deg); top: 170px; }
  90% {-webkit-transform: scale(1) rotate(360deg);transform: scale(1) rotate(360deg); top: 170px; }
  91% {-webkit-transform: scale(1) rotate(720deg);transform: scale(1) rotate(720deg); top: 120px;}
  93% {-webkit-transform: scale(.05) rotate(0deg);transform: scale(.05) rotate(0deg); top: 300px; }
  100% {-webkit-transform: scale(0) ;transform: scale(0) ; }
}

.paper {
  position: absolute;
  background: var(--white);
  padding: 5px;
  border: var(--borderDefault);
  top:20px;
  font-weight: bold;
  text-align: center;
  left: calc(50% - 50px) !important;
  -webkit-animation: tracking-paper 20s ease-out infinite;
          animation: tracking-paper 20s ease-out infinite;
}

@-webkit-keyframes tracking-paper {
  0% {-webkit-transform: scale(0);transform: scale(0) }
  29% {-webkit-transform: scale(0);transform: scale(0)  }
  30% {-webkit-transform: scale(1.1) ;transform: scale(1.1) ;}
  32% {-webkit-transform: scale(1) ;transform: scale(1) ; }
  85% {-webkit-transform: scale(1);transform: scale(1)}
  85.5% {-webkit-transform: scale(1.4) ;transform: scale(1.4) ; }
  86% {-webkit-transform: scale(0);transform: scale(0); }
  100% {-webkit-transform: scale(0);transform: scale(0); }
}

@keyframes tracking-paper {
  0% {-webkit-transform: scale(0);transform: scale(0) }
  29% {-webkit-transform: scale(0);transform: scale(0)  }
  30% {-webkit-transform: scale(1.1) ;transform: scale(1.1) ;}
  32% {-webkit-transform: scale(1) ;transform: scale(1) ; }
  85% {-webkit-transform: scale(1);transform: scale(1)}
  85.5% {-webkit-transform: scale(1.4) ;transform: scale(1.4) ; }
  86% {-webkit-transform: scale(0);transform: scale(0); }
  100% {-webkit-transform: scale(0);transform: scale(0); }
}

.charts .chart1 {
  position: absolute;
  -webkit-animation: tracking-one 20s ease-out infinite;
          animation: tracking-one 20s ease-out infinite; 
  width: 100px;
  height: 100px;
  top: 265px;
  right: calc(50% + 45px);
}

@-webkit-keyframes tracking-one {
  0% {-webkit-transform: scale(0);transform: scale(0) }
  30% {-webkit-transform: scale(0);transform: scale(0)  }
  31% {-webkit-transform: scale(1.1) ;transform: scale(1.1) ;}
  32% {-webkit-transform: scale(1) ;transform: scale(1) ; }
  85% {-webkit-transform: scale(1);transform: scale(1)}
  85.5% {-webkit-transform: scale(1.4) ;transform: scale(1.4) ; }
  86% {-webkit-transform: scale(0);transform: scale(0); }
  100% {-webkit-transform: scale(0);transform: scale(0); }
}

@keyframes tracking-one {
  0% {-webkit-transform: scale(0);transform: scale(0) }
  30% {-webkit-transform: scale(0);transform: scale(0)  }
  31% {-webkit-transform: scale(1.1) ;transform: scale(1.1) ;}
  32% {-webkit-transform: scale(1) ;transform: scale(1) ; }
  85% {-webkit-transform: scale(1);transform: scale(1)}
  85.5% {-webkit-transform: scale(1.4) ;transform: scale(1.4) ; }
  86% {-webkit-transform: scale(0);transform: scale(0); }
  100% {-webkit-transform: scale(0);transform: scale(0); }
}

.charts .chart2 {
  position: absolute;
  -webkit-animation: tracking-two 20s ease-out infinite;
          animation: tracking-two 20s ease-out infinite;
  width: 100px;
  height: 100px;
  top: 130px;
  right: calc(50% - 170px);
}

@-webkit-keyframes tracking-two {
  0% {-webkit-transform: scale(0);transform: scale(0) }
  31% {-webkit-transform: scale(0);transform: scale(0)  }
  32% {-webkit-transform: scale(1.1) ;transform: scale(1.1) ;}
  33% {-webkit-transform: scale(1) ;transform: scale(1) ; }
  88% {-webkit-transform: scale(1);transform: scale(1)}
  88.5% {-webkit-transform: scale(1.4) ;transform: scale(1.4) ; }
  89% {-webkit-transform: scale(0);transform: scale(0); }
  100% {-webkit-transform: scale(0);transform: scale(0); }
}

@keyframes tracking-two {
  0% {-webkit-transform: scale(0);transform: scale(0) }
  31% {-webkit-transform: scale(0);transform: scale(0)  }
  32% {-webkit-transform: scale(1.1) ;transform: scale(1.1) ;}
  33% {-webkit-transform: scale(1) ;transform: scale(1) ; }
  88% {-webkit-transform: scale(1);transform: scale(1)}
  88.5% {-webkit-transform: scale(1.4) ;transform: scale(1.4) ; }
  89% {-webkit-transform: scale(0);transform: scale(0); }
  100% {-webkit-transform: scale(0);transform: scale(0); }
}

.charts .chart3 {
  position: absolute;
  -webkit-animation: tracking-three 20s ease-out infinite;
          animation: tracking-three 20s ease-out infinite;
  width: 100px;
  height: 100px;
  top: 143px;
  left: calc(50% - 164px);
}

@-webkit-keyframes tracking-three {
  0% {-webkit-transform: scale(0);transform: scale(0) }
  32% {-webkit-transform: scale(0);transform: scale(0)  }
  33% {-webkit-transform: scale(1.1) ;transform: scale(1.1) ;}
  34% {-webkit-transform: scale(1) ;transform: scale(1) ; }
  86% {-webkit-transform: scale(1);transform: scale(1)}
  86.5% {-webkit-transform: scale(1.4) ;transform: scale(1.4) ; }
  87% {-webkit-transform: scale(0);transform: scale(0); }
  100% {-webkit-transform: scale(0);transform: scale(0); }
}

@keyframes tracking-three {
  0% {-webkit-transform: scale(0);transform: scale(0) }
  32% {-webkit-transform: scale(0);transform: scale(0)  }
  33% {-webkit-transform: scale(1.1) ;transform: scale(1.1) ;}
  34% {-webkit-transform: scale(1) ;transform: scale(1) ; }
  86% {-webkit-transform: scale(1);transform: scale(1)}
  86.5% {-webkit-transform: scale(1.4) ;transform: scale(1.4) ; }
  87% {-webkit-transform: scale(0);transform: scale(0); }
  100% {-webkit-transform: scale(0);transform: scale(0); }
}

.charts .chart4 {
  position: absolute;
  animation: tracking-four 20s ease-out infinite;
  width: 100px;
  height: 100px;
  top: 265px;
  left: calc(50% + 39px);
}

@-webkit-keyframes tracking-four {
  0% {-webkit-transform: scale(0);transform: scale(0) }
  33% {-webkit-transform: scale(0);transform: scale(0)  }
  34% {-webkit-transform: scale(1.1) ;transform: scale(1.1) ;}
  35% {-webkit-transform: scale(1) ;transform: scale(1) ; }
  89% {-webkit-transform: scale(1);transform: scale(1)}
  89.5% {-webkit-transform: scale(1.4) ;transform: scale(1.4) ; }
  90% {-webkit-transform: scale(0);transform: scale(0); }
  100% {-webkit-transform: scale(0);transform: scale(0); }
}

@keyframes tracking-four {
  0% {-webkit-transform: scale(0);transform: scale(0) }
  33% {-webkit-transform: scale(0);transform: scale(0)  }
  34% {-webkit-transform: scale(1.1) ;transform: scale(1.1) ;}
  35% {-webkit-transform: scale(1) ;transform: scale(1) ; }
  89% {-webkit-transform: scale(1);transform: scale(1)}
  89.5% {-webkit-transform: scale(1.4) ;transform: scale(1.4) ; }
  90% {-webkit-transform: scale(0);transform: scale(0); }
  100% {-webkit-transform: scale(0);transform: scale(0); }
}

.charts .chart5 {
  animation: tracking-five 20s ease-out infinite;
  width: 100px;
  height: 100px;
  top: 50px;
  left: calc(50% - 50px);
}

@-webkit-keyframes tracking-five {
  0% {-webkit-transform: scale(0);transform: scale(0) }
  34% {-webkit-transform: scale(0);transform: scale(0)  }
  35% {-webkit-transform: scale(1.1) ;transform: scale(1.1) ;}
  36% {-webkit-transform: scale(1) ;transform: scale(1) ; }
  87% {-webkit-transform: scale(1);transform: scale(1)}
  87.5% {-webkit-transform: scale(1.4) ;transform: scale(1.4) ; }
  88% {-webkit-transform: scale(0);transform: scale(0); }
  100% {-webkit-transform: scale(0);transform: scale(0); }
}

@keyframes tracking-five {
  0% {-webkit-transform: scale(0);transform: scale(0) }
  34% {-webkit-transform: scale(0);transform: scale(0)  }
  35% {-webkit-transform: scale(1.1) ;transform: scale(1.1) ;}
  36% {-webkit-transform: scale(1) ;transform: scale(1) ; }
  87% {-webkit-transform: scale(1);transform: scale(1)}
  87.5% {-webkit-transform: scale(1.4) ;transform: scale(1.4) ; }
  88% {-webkit-transform: scale(0);transform: scale(0); }
  100% {-webkit-transform: scale(0);transform: scale(0); }
}

.track-phone-calls-animation .tracking-report-label {
  border: 1px solid var(--cyan0);
  padding: var(--paddingDefault);
  background: var(--white);
}

.track-phone-calls-animation .phone {
  background: var(--cyan4);
  height: 100%;
  border-radius: 30px;
  position: relative;
  /* -webkit-transform: scale(0.8);
          transform: scale(0.8); */
  -webkit-animation: shrinkMove 20s ease 1s infinite;
          animation: shrinkMove 20s ease 1s infinite;
}

/* shrinks the whole phone and moves it down a bit */
@-webkit-keyframes shrinkMove {
  20% {-webkit-transform: scale(1) translate(0);transform: scale(1) translate(0)}
  22% {-webkit-transform: scale(0.4) translate(0, 75%);transform: scale(0.4) translate(0, 75%); }
  88% {-webkit-transform: scale(0.4) translate(0, 75%);transform: scale(0.4) translate(0, 75%); }
  90% {-webkit-transform: scale(1) translate(0);transform: scale(1) translate(0); }
}

@keyframes shrinkMove {
  20% {-webkit-transform: scale(1) translate(0);transform: scale(1) translate(0)}
  22% {-webkit-transform: scale(0.4) translate(0, 75%);transform: scale(0.4) translate(0, 75%); }
  88% {-webkit-transform: scale(0.4) translate(0, 75%);transform: scale(0.4) translate(0, 75%); }
  90% {-webkit-transform: scale(1) translate(0);transform: scale(1) translate(0); }
}

.track-phone-calls-animation .speaker {
  width: 50px;
  height: 6px;
  background: var(--cyanTrans);
  border-radius: 3px;
  position: absolute;
  top: 20px;
}

.track-phone-calls-animation .camera1 {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: var(--cyanTrans);
  position: absolute;
  top: 10px;
}

.track-phone-calls-animation .camera2 {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: var(--cyanTrans);
  position: absolute;
  top: 20px;
  left: 75px;
}

.track-phone-calls-animation .mic {
  width: 30px;
  height: 30px;
  border: 1px solid var(--cyan2);
  background: var(--cyan3);
  border-radius: 50%;
  position: absolute;
  bottom: 8px;
}

/* phone screen and contents */
.track-phone-calls-animation .screen {
  overflow: hidden;
  --screenWidth: 210px;
  width: var(--screenWidth);
  --screenHeight: 354px;
  height: var(--screenHeight);
  background: var(--white);
  top: 35px;
  position: relative;
}

/* scrolling animation */
.track-phone-calls-animation .screen .scrolling {
  background: var(--white);
  width: 100%;
  height: auto;
  -webkit-animation: slide 20s ease-out 1s infinite;
  animation: slide 20s ease-out 1s infinite;
}

  /* scrolling animation keyframes */
  @-webkit-keyframes slide {
    0%   { -webkit-transform: translate(0, 0); transform: translate(0, 0)}
    1.75%   { -webkit-transform: translate(0, 0); transform: translate(0, 0)}
    5%  {-webkit-transform: translate(0, -460px);transform: translate(0, -460px)}
    7.5%  { -webkit-transform: translate(0,-300px); transform: translate(0,-300px)}
    92.5%  { -webkit-transform: translate(0,-300px); transform: translate(0,-300px)}
    100% { -webkit-transform: translate(0, 0); transform: translate(0, 0)}
  }

  @keyframes slide {
    0%   { -webkit-transform: translate(0, 0); transform: translate(0, 0)}
    1.75%   { -webkit-transform: translate(0, 0); transform: translate(0, 0)}
    5%  {-webkit-transform: translate(0, -460px);transform: translate(0, -460px)}
    7.5%  { -webkit-transform: translate(0,-300px); transform: translate(0,-300px)}
    92.5%  { -webkit-transform: translate(0,-300px); transform: translate(0,-300px)}
    100% { -webkit-transform: translate(0, 0); transform: translate(0, 0)}
  }

.scrolling .nav {
  background: var(--black);
  width: 100%;
  height: 30px;
  top: 0;
  position: relative;
  padding-right: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.scrolling .nav .hamburger {
  width: 20px;
  height: 16px;
}

.scrolling .nav .hamburger > div {
  background: white;
  height: 3px;
  width: 100%;
}

.scrolling .content {
  background: var(--white);
  padding: 10px;
  position: relative;
}

.track-phone-calls-animation .headline, .subheadline, .square, .square-text, .square-text div, .body-text div {
  margin-bottom: 10px;
  background: var(--grey6);
}

.scrolling .content .headline {
  height: 40px;
}
.scrolling .content .subheadline {
  height: 20px;
}
.scrolling .content .square {
  height: 50px;
  width: 50px;
  background: var(--grey6);
}
.scrolling .content .square-text {
  background: var(--white);
  height: 50px; 
  width: 130px;
}

.scrolling .content .square-text div {
  background: var(--grey6);
  height: 10px;
  width: 130px;
}

.scrolling .content .body-text {
  background: var(--white);
  position: relative;
}

.scrolling .content .body-text div {
  background: var(--grey6);
  margin-bottom: 5px;
  height: 5px;
}

/* ads */
.scrolling .content .ads {
  margin-top: 10px;
}

.scrolling .content .ads .ad {
  position: relative;
  border-bottom: 1px solid var(--grey7);
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
}

.ad-text-block {
  background: var(--grey8);
  height: 16px;
  width: 130px;
  padding: 0;
  margin-bottom: 10px;
}

.scrolling .content .ads .ad.focused-ad {
  /* height: 50px; */
  overflow: hidden;
  -webkit-animation: expand 20s ease-out 1s infinite;
  animation: expand 20s ease-out 1s infinite;
}

/* expand ad */
@keyframes expand {
  9% {-webkit-transform: scale(1);transform: scale(1);}
  10% {-webkit-transform: scale(0.9);transform: scale(0.9);}
  11% {-webkit-transform: scale(1);transform: scale(1); height: 50px;}
  11.5% {height: 50px;}
  12.5% {height: 90px;}
  89% {height: 90px;}
  90% {height: 50px;}
}

@-webkit-keyframes expand {
  9% {-webkit-transform: scale(1);transform: scale(1);}
  10% {-webkit-transform: scale(0.9);transform: scale(0.9);}
  11% {-webkit-transform: scale(1);transform: scale(1); height: 50px;}
  11.5% {height: 50px;}
  12.5% {height: 90px;}
  89% {height: 90px;}
  90% {height: 50px;}
}

.ads .ad .ad-circle {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: var(--grey6);
  position: relative;
  margin-right: 10px;
}

.ad.focused-ad .ad-circle {
  background: var(--gold0);
}

.ad.focused-ad .call-us {
  color: var(--coral0);
  font-size: var(--fontSizeH3);
  font-weight: bold;
}

.ad.focused-ad .phone-number {
  color: var(--grey2);
  font-size: var(--fontSizeH3);
}

.focused-ad .call-button {
  margin-top: 10px;
  padding: 5px;
  background: var(--green0);
  color: var(--white);
  fill: var(--white);
  margin-bottom: 10px;
  width: 180px;
  text-align: center;
  position: absolute;
  left: -50px;
  top: 40px;
  border-radius: 20px;
  -webkit-animation: call 20s ease-out 1s infinite;
  animation: call 20s ease-out 1s infinite;
} 

@-webkit-keyframes call {
  0% {-webkit-transform: scale(1);transform: scale(1); color: var(--green2);}
  15% {-webkit-transform: scale(1);transform: scale(1); color: var(--green2); background-color: var(--green0);}
  16% {-webkit-transform: scale(0.9);transform: scale(0.9);}
  17% {-webkit-transform: scale(1);transform: scale(1); color: white; background-color: var(--green2);}
}

@keyframes call {
  0% {-webkit-transform: scale(1);transform: scale(1); color: var(--green2);}
  15% {-webkit-transform: scale(1);transform: scale(1); color: var(--green2); background-color: var(--green0);}
  16% {-webkit-transform: scale(0.9);transform: scale(0.9);}
  17% {-webkit-transform: scale(1);transform: scale(1); color: white; background-color: var(--green2);}
}

/* calling animation */
.track-phone-calls-animation .screen .calling {
  background: var(--black);
  width: var(--screenWidth);
  height: var(--screenHeight);
  /* -webkit-transform: translateY(100%);
          transform: translateY(100%); */
  position: absolute;
  top: 0;
  color: white;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: callfade 20s ease-out infinite;
  animation: callfade 20s ease-out infinite;
}

@-webkit-keyframes callfade {
  0%  {opacity: 0;}
  23% {opacity: 0;}
  27% {opacity: 1;}
  93% {opacity: 1;}
  94% {opacity: 0;}
  100%{opacity: 0;}
}

@keyframes callfade {
  0%  {opacity: 0;}
  23% {opacity: 0;}
  27% {opacity: 1;}
  93% {opacity: 1;}
  94% {opacity: 0;}
  100%{opacity: 0;}
}

.calling .contact-name {
  font-size: var(--fontSizeH3);
  position: absolute;
  top: 7px;
}

.calling .contact-profile-pic {
  background: var(--white);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  left: 50px;
}

.calling .call-options {
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  grid-gap: 10px;
}

.calling .call-options * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background: var(--grey1);
  width:50px;
  border-radius: 50%;
}

.calling .end-call {
  position: absolute;
  bottom: 20px;
  height: 50px;
  width: 50px;
  background: var(--coral0);
  border-radius: 50%;
}