.progress-bar + .progress-bar {
    margin-top: 10px;
}

.progress-bar label{
    padding: 5px 0;
}

/* use the className 'strength-weak' */
progress.strength-weak::-webkit-progress-value {
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
        -webkit-linear-gradient(left, var(--brick0), var(--brick1));
    background-size: 25px 14px, 100% 100%, 100% 100%;
}

/* use the className 'strength-fair' */
progress.strength-fair::-webkit-progress-value {
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
        -webkit-linear-gradient(left, var(--coral0), var(--coral1));
    background-size: 25px 14px, 100% 100%, 100% 100%;
}

/* use the className 'strength-good' */
progress.strength-good::-webkit-progress-value {
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
        -webkit-linear-gradient(left, var(--gold0), var(--gold1));
    background-size: 25px 14px, 100% 100%, 100% 100%;
}

/* use the className 'strength-strong' */
progress.strength-strong::-webkit-progress-value {
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
        -webkit-linear-gradient(left, var(--green0), var(--green1));
    background-size: 25px 14px, 100% 100%, 100% 100%;
}