.ui-refresh {
    width: 30px;
    height: 30px;
    background-color: var(--navy0);
    /* outline: solid 1px var(--navy0); */
    cursor: pointer;
    pointer-events: all;
    enable-background: new 0 0 30px 30px;
}

.ui-refresh-opposite {
    width: 30px;
    height: 30px;
    background-color: white;
    outline: 1px solid var(--cyan0);
    cursor: pointer;
    pointer-events: all;
}
.ui-refresh-opposite:hover {
    background-color: var(--navy0);
}

.ui-refresh:hover {
    background-color: white;
}