/* .ui-table {
    border: 1px solid var(--cyan0);
    border-collapse: collapse;
    text-align: center;
}

.ui-table tr {
    height: 50px;
    outline: 1px solid var(--cyan0);
}

.ui-table td {
    border: 1px solid var(--cyan0);
} */