.project-link {
  color: rgba(0, 57, 78, .75) !important;
}

.project-link:hover {
  text-decoration: none !important;
  color: var(--primary);
}

.project-link img {
  border-radius: var(--unit1);
  scale: 1;
  transition: 0.3s ease-out;
  box-shadow: 0 6px 12px var(--transBlueC-10);
}

.project-link:hover img {
  scale: 1.01;
  transition: 0s;
}

