.nucleotide header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: var(--unit3);
}

#mobile-nav {
  display: flex;
}

#desktop-nav {
  display: none;
}

@media screen and (min-width: 7px) {
  #mobile-nav {
    display: none;
  }

  #desktop-nav {
    display: flex;
  }
}
