.nucleotide header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  box-shadow: none;
  padding: var(--unit0) var(--unit1) var(--unit1) 0;
}

/* @media screen and (min-width: 768px) {
  .nucleotide header {
    padding: var(--unit0) var(--unit1) var(--unit1) 0;
  }
} */
.header-logo {
  height: 48.59px;
  left: -2px;
  top: -1px;
  mix-blend-mode: difference;
}

#mobile-nav {
  display: flex;
}

#desktop-nav {
  display: none;
}

@media screen and (min-width: 7px) {
  #mobile-nav {
    display: none;
  }

  #desktop-nav {
    display: flex;
  }
}

.site-header {
  border-top: var(--unit0) solid var(--blueA);
}