.projects-section {
  min-height: calc(100vh - 63.99px - 125.38px);
}

.projects-section > div > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--transWhite-50);
  padding: var(--unit2);
  color: var(--transBlueC-75);
  border-radius: var(--unit1);
  box-shadow: 0 3px 6px var(--transBlueC-10);
  transform: scale(1);
}

.projects-section > div > a:hover {
  transform: scale(1.01);
  background: var(--white);
  color: var(--transBlueC-75);
  text-decoration: none;
}
