/* prompt-assistant2.css */

#prompt-assistant2 {
    position: fixed;
    bottom: 0;
    left: 0;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background: rgba(204, 233, 243, 0.75);
    border-radius: var(--unit1);
    overflow: hidden;
    height: calc(100% - 61.38px - var(--unit2));
    width: calc(100% - var(--unit2));
    box-shadow: 0 12px 24px var(--transBlueC-25);
    z-index: 1;
    margin: var(--unit1);
    display: flex;
    flex-direction: column;
    transition: 0.2s ease-in-out;
  }

  #prompt-assistant2::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
    width: 100vh;
    height: 100vh;
  }
  
  @media screen and (min-width: 768px) {
    #prompt-assistant2 {
      max-width: calc(var(--unit6) + var(--unit5));
      right:unset;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-left: auto;

    }
  }
  
  @media (hover: none) {
    #prompt-assistant2 {
      max-width: var(--unit7);
      right:0;
      margin-left: auto;
      border-radius: var(--unit2);
    }
  }
    
  
  #prompt-assistant2 #prompt-assistant2-header {
    display: flex;
    align-items: center;
    padding: var(--unit1);
    background-color: var(--transWhite-50);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    border-radius: var(--unit1) var(--unit1) 0 0;
    background: var(--white);
    box-shadow: 0 6px 12px var(--transBlueC-10);
    border-bottom: 1px solid var(--transWhite-50);
    z-index: 1;
  }
  
  .message-container {
    margin: 0 0 var(--unit1) 0;
    max-width: 30ch;
    flex-shrink: 1;
  }
  
  .message-container.typing-message {
    position: absolute;
    bottom: 100%;
    left: 0;
    margin: 0 auto 0 var(--unit1);
    padding: var(--unit0) 0;
    max-width: 30ch;
    flex-shrink: 1;
  }
  
  .message {
    word-wrap: break-word;
    box-shadow: 0 6px 12px var(--transBlueC-10);
    padding: var(--unit0) var(--unit1);
    background: var(--siteBackground);
    color: inherit;
    max-width: 30ch;
    width: auto;
    border-radius: var(--unit0);
  }
  
  .message-timestamp {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0 var(--unit0);
  }
  
  .typing-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .typing-indicator span.dot {
    height: 5px;
    width: 5px;
    background-color: var(--transBlueC-50);
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    opacity: 0;
    -webkit-animation: typing 1.2s infinite;
            animation: typing 1.2s infinite;
  }
  
  .typing-indicator span:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  
  .typing-indicator span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  
  .typing-indicator span:nth-child(3) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  
  @-webkit-keyframes typing {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
  
    50% {
      opacity: 1;
      transform: translateY(-5px);
    }
  
    100% {
      opacity: 0;
      transform: translateY(0);
    }
  }
  
  @keyframes typing {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
  
    50% {
      opacity: 1;
      transform: translateY(-5px);
    }
  
    100% {
      opacity: 0;
      transform: translateY(0);
    }
  }
  
  .history-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    overflow: auto;
    height:calc(100% - 191px);
    justify-self: stretch;
    padding: var(--unit2);
    position: relative;
    justify-content: space-between;
  }
  
  .message-container {
    margin-bottom: var(--unit1);
    -webkit-animation: sent 0.2s ease-in-out;
            animation: sent 0.2s ease-in-out;
    transform-origin: bottom;
    flex-shrink: 1;
    max-width: 30ch;
  }
  
  @-webkit-keyframes sent {
  
    0% {
      opacity: 0;
      transform: translateY(10px) scale(0);
    }
    50% {
      opacity: 0.5;
      transform: translateY(-5px) scale(1.1);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
    
  }
  
  @keyframes sent {
  
    0% {
      opacity: 0;
      transform: translateY(10px) scale(0);
    }
    50% {
      opacity: 0.5;
      transform: translateY(-5px) scale(1.1);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
    
  }
  
  .chat-send-button {
    position: absolute;
    margin: 0 var(--unit1) 11px 0;
    border-radius: var(--unit1);
  }
  
  .chat-input-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: -webkit-sticky;
    position: sticky;
    top: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--unit1) var(--unit1) var(--unit1);
  }
  
  textarea.chat-input {
    padding-right: var(--unit3);
    border-radius: var(--unit1);
  }
  
  textarea.chat-input:focus-visible {
      outline: 3px solid var(--primary);
      outline-offset: -2px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    color: #333; /* Change color as needed */
    cursor: pointer;
  } 
  
  .copy-button {
    margin-left: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .assistant-form input {
    width: 100%;
  }

  .response-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }