.social-icons a {
  transform: scale(1);
  transition: 0.15s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icons a small {
  display: none;
  text-decoration: none;
  position: absolute;
  top: 100%;
}

.social-icons a:hover {
  transition: none;
  transform: scale(1.1);
}

.social-icons a:hover small {
  display: flex;
}