.disciplines {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: var(--unit2);
}

.disciplines h6 {
  height: calc(var(--unit4));
  width: calc(var(--unit4));
  border-radius: var(--unit4) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: normal;
  padding: var(--unit2);
}

.disciplines svg {
  margin-bottom: var(--unit0);
  font-size: var(--H4);
}

.product-tools,
.design-tools,
.development-tools {
  display: flex;
  flex-wrap: wrap;
  gap: var(--unit0);
  flex-direction: row;
}

.skills-diagram h6,
.skills-diagram small {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform-origin: center;
  line-height: 1;
}

.diagram-c-logo {
  /* filter: drop-shadow(0 0 6px rgba(255,255,255,1)); */
  animation: pulse 0.9s infinite;
}

@keyframes pulse {
  0% {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.8));
  }

  12.5% {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.3));
  }

  25% {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
  }
  33% {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.2));
  }

  50% {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 1));
  }

  75% {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.3));
  }

  100% {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.8));
  }
}

.skills-diagram h6 svg,
.skills-diagram small svg {
  font-size: var(--H5);
  margin-bottom: var(--unit0);
}

@media screen and (min-width: 678px) {
  .skills-diagram h6,
  .skills-diagram small {
    height: 40px;
    width: 40px;
  }
}

@media screen and (min-width: 768px) {
  .skills-diagram h6,
  .skills-diagram small {
    height: 50px;
    width: 50px;
  }
}

@media screen and (min-width: 992px) {
  .skills-diagram h6,
  .skills-diagram small {
    height: 40px;
    width: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .skills-diagram h6,
  .skills-diagram small {
    height: 35px;
    width: 35px;
  }
}

.product-tools small,
.design-tools small,
.development-tools small {
  padding: 0 var(--unit1);
  border-radius: var(--unit2);
}

.disciplines small {
  padding: var(--unit0) var(--unit1);
  border-radius: var(--unit2);
  font-weight: bold;
}

.product-tools small {
  background: rgba(0, 206, 89, 0.3);
}

.design-tools small {
  background: rgba(0, 143, 195, 0.3);
}

.development-tools small {
  background: rgba(255, 96, 96, 0.3);
}

.content-box {
  flex-grow: 1;
  position: relative;
}

.content-col {
  fill: white;
}

.content-col::before {
  content: "";
  position: absolute;
  background: var(--siteBackground);
  height: 100%;
  width: 50vw;
  right: 50%;
}

.chuck-img {
  position: fixed;
  bottom: 0;
  height: 75%;
  width: auto;
  right: 0;
  min-height: 400px;
  transition: all 0.2s ease-out;
  will-change: all;
}

@media screen and (min-width: 280px) and (min-height: 653px) {
  .chuck-img {
    height: 70%;
    right: -10%;
  }
}

@media screen and (min-width: 375px) and (min-height: 667px) {
  .chuck-img {
    height: 75%;
    right: -5%;
  }
}

@media screen and (min-width: 390px) and (min-height: 844px) {
  .chuck-img {
    height: 80%;
    right: -15%;
  }
}

@media screen and (min-width: 414px) and (min-height: 896px) {
  .chuck-img {
    right: -10%;
  }
}

@media screen and (min-width: 768px) {
  .content-box {
    flex-grow: unset;
  }

  .chuck-img {
    right: unset;
    left: 40%;
  }
}

@media screen and (min-width: 880px) {
  .chuck-img {
    left: 55%;
  }
}

@media screen and (min-width: 1024px) and (min-height: 600px) {
  .chuck-img {
    left: 60%;
  }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
  .chuck-img {
    left: 40%;
  }
}

@media screen and (min-width: 1280px) and (min-height: 800px) {
  .content-box {
    flex-grow: unset;
  }

  .chuck-img {
    height: 80%;
  }
}
