.product-tools,
.design-tools,
.development-tools,
.disciplines {
  display: flex;
  flex-wrap: wrap;
  gap: var(--unit1);
}

.product-tools small,
.design-tools small,
.development-tools small {
  padding: var(--unit0) var(--unit1);
  border-radius: var(--unit2);
}

.disciplines small {
  background: var(--transBlueC-10);
  padding: var(--unit0) var(--unit1);
  border-radius: var(--unit2);
  font-weight: bold;
}

.product-tools small {
  background: rgba(0, 206, 89, 0.25);
}

.design-tools small {
  background: rgba(0, 143, 195, 0.25);
}

.development-tools small {
  background: rgba(255, 96, 96, 0.25);
}

.content-box {
  flex-grow: 1;
  position: relative;
}

.content-col {
  fill: white;
}

.content-col::before {
  content: "";
  position: absolute;
  background: var(--siteBackground);
  height: 100%;
  width: 50vw;
  right: 50%;
}

.chuck-img {
  object-fit: cover;
  position: fixed;
  align-self: end;
  height: 42rem;
  width: auto;
}

@media screen and (min-width: 768px) {
  .content-box {
    flex-grow: unset;
  }

  .chuck-img {
    object-fit: cover;
    position: fixed;
    align-self: end;
    max-height: 80%;
    height: 90%;
    width: auto;
  }
}
