.product-tools,
.design-tools,
.development-tools,
.disciplines {
  display: flex;
  flex-wrap: wrap;
  gap: var(--unit1);
}

.product-tools small,
.design-tools small,
.development-tools small {
  padding: var(--unit0) var(--unit1);
  border-radius: var(--unit2);
}

.disciplines small {
  background: var(--transBlueC-10);
  padding: var(--unit0) var(--unit1);
  border-radius: var(--unit2);
  font-weight: bold;
}

.product-tools small {
  background: rgba(0, 206, 89, 0.25);
}

.design-tools small {
  background: rgba(0, 143, 195, 0.25);
}

.development-tools small {
  background: rgba(255, 96, 96, 0.25);
}

.content-box {
  flex-grow: 1;
  position: relative;
}

.content-col {
  fill: white;
}

.content-col::before {
  content: "";
  position: absolute;
  background: var(--siteBackground);
  height: 100%;
  width: 50vw;
  right: 50%;
}

.chuck-img {
  position: fixed;
  align-self: end;
  height: 75%;
  width: auto;
  right: 0;
}

@media screen and (min-width: 280px) and (min-height: 653px) {
  .chuck-img {
    height: 70%;
    right: -10%;
  }
}

@media screen and (min-width: 414px) and (min-height: 896px) {
  .chuck-img {
    height: 80%;
    right: -10%;
  }
}

@media screen and (min-width: 390px) and (min-height: 844px) {
  .chuck-img {
    height: 80%;
    right: -15%;
  }
}

@media screen and (min-width: 768px) {
  .content-box {
    flex-grow: unset;
  }

  .chuck-img {
    right: unset;
  }
}

@media screen and (min-width: 1280px) and (min-height: 800px) {
  .content-box {
    flex-grow: unset;
  }

  .chuck-img {
    right: unset;
    height: 80%;
    max-height: 800px;
  }
}


