
.ui-input {
    font-size: var(--fontSizeDefault);
}

input {
    border: none;
    outline: var(--outlineDefault);
}

.ui-input input:focus {
    outline-offset: var(--outlineOffsetDefault);
}

.ui-input .error {
    outline: solid 1px var(--coral0);
}

.ui-input .whole {
    width: 100%;
}

.ui-input-error-message {
    font-family: var(--fontFamilyData);
    color: var(--coral0);
    margin: 0;
    outline: none;
    padding: 0;
    min-height: 30px;
}

.ui-input label {
    padding-left: 0;
    position: relative;
    top: -5px;
}


.ui-input + .ui-input {
    margin-top: 20px;
}

input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}