.home-paths {
    text-align: center;
    padding: 30px;
    grid-gap: 20px;
    margin-bottom: 50px;
}

.home-paths div {
    max-width: calc(100vw - 20px);
    margin: 50px 10px;
}

.home-paths svg {
    height: 100px;
}

.home-paths button {
    min-width: 235px;
}
