
.home {
    /* max-width: 1200px; */
    /* margin: auto; */
    overflow-x: hidden;
}

.home p {
    font-size: var(--fontSizeP1);
    line-height: var(--lineHeightH3);
    max-width: 480px;
    text-align: left;
    margin: 0 auto 10px;
}


@media (max-width: 1013px) {
    .home {
        overflow: hidden;
    }
}