button {
    /* min-width: 60px; */
    min-height: 30px;
    cursor: pointer;
    font-size: var(--fontSizeDefault);
    font-family: var(--fontfamilydefault);
    padding: var(--paddingDefault);
    line-height: var(--lineHeightDefault);
    border: none;
    box-shadow: 0 3px 6px 0 rgba(36, 83, 127, 0.3);
    background-color: var(--navy0);
    color: var(--white);
    cursor: pointer;
}

button:hover {
    background-color: var(--navy1);
}
button:active {
    background-color: var(--navy0);
}
button:focus {
    outline: none;
}

.cta {
    box-shadow: 0 3px 6px 0 rgba(203, 162, 51, 0.4);
    background-color: var(--gold0);
    color: var(--grey3);
    font-weight: bold;
    border: none;
}
.cta:hover {
    background-color: var(--gold1);
}
.cta:active {
    background-color: var(--gold2);
}

.secondary {
    box-shadow: 0 3px 6px 0 rgba(36, 83, 127, 0.2);
    outline: var(--navy0) solid 1px;
    outline-offset: -1px;
    color: var(--navy0);
    background: transparent;
}
.secondary:hover {
    background-color: var(--cyanTrans1);
}
.secondary:active {
    background-color: var(--cyan2);
}

.secondary:focus {
    outline: 1px solid var(--navy0);
    outline-offset: -1px;
}

.add {
    box-shadow: 0 3px 6px 0 rgba(22, 126, 58, 0.2);
    background-color: var(--green0);
    color: white;
}
.add:hover {
    background-color: var(--green1);
}
.add:active {
    background-color: var(--green2);
}

.help {
    box-shadow: 0 3px 6px 0 rgba(74, 67, 202, 0.2);
    background-color: var(--royal0);
    font-weight: bold;
    color: white;
}
.help:hover {
    background-color: var(--royal1);
}
.help:active {
    background-color: var(--royal2);
}

.cancel {
    box-shadow: 0 3px 6px 0 rgba(202, 110, 82, 0.2);
    background-color: var(--coral0);
    color: white;
}
.cancel:hover {
    background-color: var(--coral1);
}
.cancel:active {
    background-color: var(--coral2);
}

.delete {
    box-shadow: 0 3px 6px 0 rgba(150, 64, 64, 0.2);
    background-color: var(--brick0);
    color: white;
}
.delete:hover {
    background-color: var(--brick1);
}
.delete:active {
    background-color: var(--brick2);
}

.option {
    box-shadow: 0 3px 6px 0 rgba(44, 184, 210, 0.2);
    background-color: var(--white);
    color: var(--navy2);
    outline: solid 1px var(--cyan0);
    outline-offset: -1px;
    margin-left: -1px;
}
.option:hover {
    color: var(--navy0);
    background-color: var(--cyan3);
}
.option:focus {
    outline: solid 3px var(--cyan0);
    z-index: 1;
}

.option-focused {
    outline: solid 3px var(--cyan0);
    background-color: var(--cyan4);
    font-weight: bold;
    z-index: 1;
    position: relative;
}

.margin-top {
    margin-top: 10px;
}

.btn-lg {
    padding: 10px 15px;
    font-size: var(--fontSizeH3);
    line-height: var(--lineHeightH3);
    height: var(--navHeight);
}


/* agency */
.agency-home button {
    height: 60px;
    width: 270px;
    background-color: var(--gold0);
    color: var(--cyanA);
    font-size: var(--fontSizeH3);
    font-family: var(--fontFamilyAgencyDefault);
}
