.feedback {
  display: unset;
  position: fixed;
  top: 50%;
  right: 0;
}

.feedback a button {
  display: none;
  background: var(--transWhite-50) !important;
  backdrop-filter: blur(3px);
  transform: rotate(-90deg) translateY(32px);
  border-radius: var(--unit1) var(--unit1) 0 0!important;
}