.home-bottom {
    text-align: center;
    position: relative;
}

.home-bottom div {
    margin-bottom: 50px;
}

#home-svg-clicktool-ico {
    width: 400px;
    max-width: 100vw;
}

.home-bottom .clicktool-mark-animated {
    width: 100px;
}

#home-bottom-cityA {
    width: 40%;
    position: absolute;
    right: -25%;
    bottom: 0;
    /*bottom: 100px;*/
}

#home-bottom-cityB {
    width: 40%;
    position: absolute;
    left: -25%;
    bottom: 0;
    /*bottom: 100px;*/
}


@media (max-width: 1366px) {
    #home-bottom-cityA {
        width: 50%;
    }

    #home-bottom-cityB {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #home-bottom-cityA {
        bottom: -20px;
    }

    #home-bottom-cityB {
        bottom: -20px;
    }
}
