/* this is all the water on earth */
#seas {
  fill: transparent;
}

/* this controls the styling of the text */
svg.label {
  fill: var(--transBlueC-75);
}

/* this conrols the styling for the shape of each country */
.outline {
  stroke: white;
  stroke-width: 0.1px;
  fill: var(--transBlueC-25);
}
